[submodule "token-sale/lib/forge-std"]
	path = token-sale/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "token-sale/lib/openzeppelin-contracts"]
	path = token-sale/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "voting/lib/forge-std"]
	path = voting/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "voting/lib/openzeppelin-contracts"]
	path = voting/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "multi-sig-wallet/lib/forge-std"]
	path = multi-sig-wallet/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "multi-sig-wallet/lib/openzeppelin-contracts"]
	path = multi-sig-wallet/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
